# Server Verification

## verification role set

Set a server verification role.

* **type**:STRING — A type of role.
* **options**:STRING — An options.
* **role**:ROLE — A role to be assigned.

## verification set

Set a server captcha verification module.

* **channel**:CHANNEL — A text channel to put a resend embed, in case the user DMs are closed.
* **custom\_embed:**&#x53;TRING - Customize the verification panel text.

## verification role remove

Remove the verification role

**options**:STRING — Verified role (after verification) / Unverified role (before verification is complete)
